[submodule "repo/django-ldap-user-registration"]
	path = repo/django-ldap-user-registration
	url = https://github.com/Lee0701/django-ldap-user-registration.git
[submodule "repo/han3_ji7_tsoo1_kian3_WM"]
	path = repo/han3_ji7_tsoo1_kian3_WM
	url = https://github.com/Lee0701/han3_ji7_tsoo1_kian3_WM.git
[submodule "repo/hanja-reading"]
	path = repo/hanja-reading
	url = https://github.com/Lee0701/hanja-reading.git
[submodule "repo/kage-mw-api"]
	path = repo/kage-mw-api
	url = https://github.com/Lee0701/kage-mw-api.git
[submodule "repo/mediawiki-docker"]
	path = repo/mediawiki-docker
	url = https://github.com/Lee0701/mediawiki-docker.git
[submodule "repo/thelounge-docker"]
	path = repo/thelounge-docker
	url = https://github.com/Lee0701/thelounge-docker.git
[submodule "data/mw/repo/MediaWiki-HanjaConverter"]
	path = data/mw/repo/MediaWiki-HanjaConverter
	url = https://github.com/Lee0701/MediaWiki-HanjaConverter.git
[submodule "data/mw/repo/MediaWiki-KAGE"]
	path = data/mw/repo/MediaWiki-KAGE
	url = https://github.com/Lee0701/MediaWiki-KAGE.git
[submodule "data/mw/repo/MediaWiki-i18n"]
	path = data/mw/repo/MediaWiki-i18n
	url = https://github.com/Lee0701/MediaWiki-i18n.git
[submodule "data/mw/repo/mediawiki-extensions-LDAPAuthentication2"]
	path = data/mw/repo/mediawiki-extensions-LDAPAuthentication2
	url = https://github.com/wikimedia/mediawiki-extensions-LDAPAuthentication2.git
[submodule "data/mw/repo/mediawiki-extensions-LDAPAuthorization"]
	path = data/mw/repo/mediawiki-extensions-LDAPAuthorization
	url = https://github.com/wikimedia/mediawiki-extensions-LDAPAuthorization.git
[submodule "data/mw/repo/mediawiki-extensions-LDAPProvider"]
	path = data/mw/repo/mediawiki-extensions-LDAPProvider
	url = https://github.com/wikimedia/mediawiki-extensions-LDAPProvider.git
[submodule "data/mw/repo/mediawiki-extensions-PluggableAuth"]
	path = data/mw/repo/mediawiki-extensions-PluggableAuth
	url = https://github.com/wikimedia/mediawiki-extensions-PluggableAuth.git
